@import "./index.scss";

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $footer-gradient;
  height: 3.6rem;
  z-index: 1001;
  color: $wh;
  font-family: "RalewayBold", serif;
  .line {
    margin: auto 11px;
    background: $wh;
    height: 2px;
  }
}
