body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// ------------------------------ COLORS

$wh: #f7f7f7;
$bl: #222;
$main-color: #0082c3;
$sec-color: #b3b3b3;

$gradient: linear-gradient(
  -40deg,
  fade-out($main-color, 0.1) 10%,
  fade-out($main-color, 0) 30%,
  fade-out($main-color, 0.4)
);

$footer-gradient: linear-gradient(
  -40deg,
  fade-out($main-color, 0.4),
  fade-out($main-color, 0) 30%,
  fade-out($main-color, 0.1) 10%
);

$img-gradient: linear-gradient(
  120deg,
  fade-out($main-color, 0.95) 10%,
  fade-out($main-color, 0.8) 30%,
  fade-out($main-color, 0.6)
);

// ------------------------------ FONTS

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "RalewayBold";
  src: url("/fonts/Raleway-Bold.ttf");
}

// ------------------------------ HELPERS

.wip {
  border: 1px solid red;
}

$transition: 0.2s;
$dark-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
$light-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
$btn-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.2);

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separation {
  width: 5rem;
  height: 5px;
  background: $gradient;
  margin: 2rem 0 2rem 0;
}
