body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// ------------------------------ COLORS

$wh: #f7f7f7;
$bl: #222;
$main-color: #fdff88;
$sec-color: #d0d0d0;

// ------------------------------ FONTS

@font-face {
  font-family: "Zilla";
  src: url("/fonts/ZillaSlab-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.ttf");
}

// ------------------------------ HELPERS

.wip {
  border: 1px solid red;
}

$transition: 0.2s;
$dark-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
$light-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
$btn-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.1);

* {
  font-family: "Quicksand", sans-serif;
}
