@import "./index.scss";

.slide-page {
  min-height: 100vh;
  flex-direction: column;
  font-family: "RalewayBold", sans-serif;
  input {
    border: 2px solid transparent;
    &:focus {
      border: {
        bottom: 2px solid rgba($main-color, 0.3);
        top: 2px solid transparent;
        left: 2px solid transparent;
        right: 2px solid transparent;
        radius: 0;
      }
      box-shadow: none;
    }
  }
}

#title {
  font-size: 2.2rem;
  font-weight: 600;
}
